.app {
  padding: 0px 10px;
}
// 전역적으로 쓰일 위 아래 padding

.section {
  width: 470px;
  margin: 0 auto;
}
// 전역적으로 쓰일 section 크기

.login {
  padding: 100px 0px;
  h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }

  p {
    margin-bottom: 50px;
    text-align: center;
    font-size: 16px;
    color: #777;
    word-wrap: break-word;
  }
  .inputBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
  }

  .button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }
}
.main {
  padding: 30px 0;
  .header {
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 30px;
      font-weight: 600;
    }
    .menu {
      display: flex;
      justify-content: space-between;
      gap: 25px;
      align-items: center;
      font-size: 27px;
    }
  }
  .contents {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 15px;
    align-items: center;
    .chatIcon {
      font-size: 60px;
      display: table;
      svg {
        display: table-cell;
        vertical-align: middle;
      }
    }
    .chatBox {
      display: grid;
      grid-template-columns: 9fr 1fr;
      grid-row-gap: 10px;
      align-items: center;
      h3 {
        font-size: 20px;
        font-weight: 600;
      }
      p {
        color: #999;
        font-size: 15px;
      }
      .message {
        margin: 0 auto;
        width: 25px;
        height: 25px;
        background: rgb(255, 78, 34);
        color: #fff;
        border-radius: 50%;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        strong {
          vertical-align: middle;
        }
      }
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    font-size: 30px;
    background: #f9f9f9;
    border-top: 1px solid #e6e6e6;
    .chat {
      position: relative;
      strong {
        position: absolute;
        top: -10%;
        right: -20%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: rgb(255, 78, 34);
        color: #fff;
        text-align: center;
        font-size: 15px;
      }
    }
  }
}
